input,textarea{-webkit-appearance: none;}
.fl{float: left;}
.fr{float: right;}
b,i,font{font-weight: normal;font-style: normal;}
ul.list-item ,ul.my-trends-list,ul.friend-trends-list{margin:0;}
body{background-image:url(../images/body-bg.jpg);background-repeat: no-repeat;background-position: center top;}
.web-show{display: none;}
#main.pag-hor-20,.pag-hor-20{padding:0 20px !important;}
a.un-link{cursor:not-allowed;}
#main,#sidebar>div{background: #fff;overflow: hidden;-webkit-border:1px solid #f4f4f4;-moz-border:1px solid #f4f4f4;-ms-border:1px solid #f4f4f4;-o-border:1px solid #f4f4f4;border:1px solid #f4f4f4;}
#main{padding-bottom:50px;margin-bottom:100px;min-height:800px;-webkit-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
#sidebar>div{margin-bottom:12px;-webkit-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
.user-intr{font-variant:normal !important;}

/*无数据时  开始*/
.no-data-img{display: block;width:320px;height:213px;margin:100px auto 20px;background-image: url(../images/no-data-img.png);background-repeat: no-repeat;}
.no-data p{text-align: center;font-size:14px;}
/*无数据时  结束*/
/*用户未注册 开始*/
.unreal-name{width:100%;height:600px;text-align: center;font-size:16px;color:#5a5a5a;line-height: 28px;padding-top:100px;background-color: #fff;}
.unreal-name-img{width:320px;height:214px;background: url(../images/unrealy-name-img.png) no-repeat;margin:0 auto;}
.unreal-name-text{font-size:18px;color:#393939;line-height: 28px;}
.unreal-name-text cite{font-style: normal;}

/*用户未注册 开始*/

/*公用的列表样式 开始*/
.list-item{padding:0 20px 50px;}
.list-item>li{padding:20px 0;border-bottom:1px solid #efefef;}
.list-item>li:nth-last-of-type(1){border-bottom:none;}
.list-item-l,.list-item-r{display:table-cell;line-height: 22px;}
.list-item-l{vertical-align: top;width:0;}
.list-item-r{vertical-align: middle;width:100%;font-size:14px;padding-left:10px;position: relative;}
.list-item-l cite{display: block;width:44px;height: 44px;overflow: hidden;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.list-item-l cite img{width:100%;height:100%;}

.item-r-name{margin-bottom:5px;}
.situatio-one .item-r-name{width:100%;padding-right:145px;position: relative;}
.situatio-one .time-stamp{position: absolute;top:0;right:0;}
.item-r-name .time-stamp{color:#838383;}
.item-r-text{color:#838383;word-wrap: break-word;word-break: break-all;}
/*着迷声望*/
.shengwang-box{
	width: 208px;
	margin:0 auto;

}
.shengwang-top{
	width: 184px;
	height: 184px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 50%;
	background:-webkit-linear-gradient(top,#f4f4f4,#ffffff);
}
.shengwang-middle{
	width: 174px;
	height: 174px;
	padding: 10px;
	border-radius: 50%;
	background:-webkit-linear-gradient(top,#ff514b,#fea25c);
}
.shengwang-inner{
	width: 154px;
	height: 154px;
	border-radius: 50%;
	background-color:#fff; 

}
.sw-inner-num{
	font-size: 40px;
	line-height: 50px;
	text-align:center;
	color: #ff7001;
	padding-top: 20px;
}
.sw-inner-update{
	font-size: 12px;
	color: #b1b1b1;
	line-height: 20px;
	height: 20px;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.sw-liner{
	background-color: #ffd6b5;
	height: 1px;
	font-size: 0;
	margin:16px 7px 0px;
}
.sw-title{
	text-align: center;
	font-size: 12px;
	color: #b1b1b1;
	margin-top: 10px;
}
.sw-tellothers{
	text-align: center;
	font-size: 14px;
	color: #626262;
	margin-top: 20px;
}
.sw-tellothers span{
	color: #ff7202;
	font-size: 20px;
	vertical-align: baseline;

}
/*着迷声望结束*/
/*公用的列表样式 结束*/
/*左侧区域样式  开始*/
.guzhu-l cite{width:74px;height:74px;}
.guzhu-r .item-r-name{margin:0;}
.guzhu-r .item-r-name a.r-user-name{display: inline-block;line-height: 30px;color:#2a2a2a;font-size:16px;font-weight:600;}

.guzhu-r .fol-style,.guzhu-r .dropdown button,.r-user-sixin{background: #fff;height:30px;padding:0 10px;outline: none;border:1px solid #efefef;line-height: 30px;text-align:center;color:#4d4d4d;font-size:12px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;}
.r-user-sixin{margin-left:10px;}

.guzhu-r .dropdown .each-follow.fol-style{color:#b5b5b5;cursor: auto;}
.guzhu-r i{color:#2781ff;padding:0;vertical-align: -1px;padding-right:3px;}
.guzhu-r .each-follow,.guzhu-r .each-follow i{color:#b5b5b5;}
.guzhu-r .follow{cursor: pointer;}
.guzhu-r .follow:hover,.guzhu-r .dropdown button:hover{color:#2781ff;}
.guzhu-r .dropdown{margin-left:10px;color:#4d4d4d;font-size:12px;}
.guzhu-r .dropdown button:hover .caret,.guzhu-r .dropdown .dropdown-menu li:hover,.guzhu-r .dropdown .dropdown-menu li:hover a{color:#2781ff;cursor: pointer;}
.guzhu-r .dropdown .dropdown-menu li:hover a{background-color: transparent;}
.guzhu-r .dropdown .dropdown-menu{left:auto !important;min-width:74px;border-color:#efefef;margin:0;right:0;}
.guzhu-r .dropdown .dropdown-menu li{text-align: center;height:30px;line-height: 30px;}
.guzhu-r .item-r-text{font-size:14px;color:#4d4d4d;line-height: 22px;}
.guzhu-r .item-r-text font{color:#777;padding-right:8px;}
.guzhu-r .item-r-other{margin-top:3px;}
.guzhu-r .item-r-other span{float: left;padding:0 10px;color:#4d4d4d;position: relative;}
.guzhu-r .item-r-other span:nth-of-type(1){padding-left:0;}
.guzhu-r .item-r-other span:after{content: "";position: absolute;right:0; width:0;height:11px;border-right:1px solid #efefef;top:50%;margin-top:-6px;}
.guzhu-r .item-r-other span a{color:#2781ff;}
.guzhu-r .item-r-other span:nth-last-of-type(1):after{display: none;}
.guzhu-r .fol-style{width:100px;}
.guzhu-r .sixin-link{width:60px;margin-left:10px;}
.guzhu-r .sixin-link:hover{color:#2781ff;}
/*左侧区域样式  结束*/
.no-date{width:94%;height:50px;line-height: 50px; background: #ebebeb;padding:0 12px;color:#838383;-webki-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:20px auto;}
/*大神推荐 开始*/
.int-tj h3 cite{font-size:12px;color:#838383;font-style: normal;cursor: pointer;font-weight: normal;}
.int-tj h3 cite i{display: block;width:12px;height:12px;background-position: -132px -31px;margin-top:10px;}
.int-tj h3 cite i{background-image: url(../images/new-icon-sprit.png);}
.int-tj-list{font-size:0;overflow: auto;}
.int-tj-list li{margin-bottom:20px;}
.int-tj-l{float: left;position: relative;z-index:99;}
.int-tj-l cite{display: block; width:45px;height:45px;overflow: hidden;-webkit-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin-right:8px;}
.int-tj-l cite img{width:100%;height:100%;}
.int-tj-r{width:100%;padding-right:63px;position: relative;font-size:14px;padding-left:55px;height:45px;}
.int-tj-r font,.int-tj-r b{display: block;font-size:14px;width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.int-tj-r font{color:#2a2a2a;line-height: 14px;padding-bottom:5px;font-variant:normal;}
.int-tj-r b{color:#8d8d8d;font-weight: normal;}
.int-tj-r span{width:63px;height:24px;line-height: 23px; cursor: pointer;position: absolute;top:10px;right:0;font-size:12px;-webkit-border:1px solid #efefef;-ms-border:1px solid #ff5050;-moz-border:1px solid #ff5050;-o-border:1px solid #ff5050;border:1px solid #ff5050;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;color:#fff;background: #ff5050;text-indent: 7px;}
.int-tj-list span.followed{color:#4d4d4d;-webkit-border-color:#efefef;-moz-border-color:#efefef;-ms-border-color:#efefef;-o-border-color:#efefef;border-color:#efefef;color:#4d4d4d;background:#fff; text-indent: 3px;}
.int-tj-r span .fa{padding:0;font-size:12px;padding-right:2px;}
.int-tj-r span .fa-plus{color:#fff;vertical-align: -1px;}
.int-tj-list span.followed .fa-check{color:#2781ff;}

/*大神推荐 结束*/

/*二级页右侧用户信息 开始*/
.page-h1{height:40px;line-height: 40px;background-color: #edf0f8;font-size:14px;color:#2a2a2a;border:none;}
.del-all{color:#2781ff;font-size:14px;cursor: pointer;}
.del-all i{display: block;float: left;width:13px;height:15px;margin:15px 5px 0 0;color:#2781ff;text-align: center;}
.user-int-mess{font-size:0;background-image: url(../images/user-int-bg.jpg);background-repeat: no-repeat;padding:17px 20px;background-size: 100% 94px;}
.user-int-mess a,.user-int-mess .nickname,.user-int-mess .user-sex{display: inline-block;vertical-align: middle;}
.user-int-mess a{width:60px;height:60px;overflow: hidden;-webkit-border-radius: 50%;-moz-border-radius: 50%; -o-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;-webkit-border:2px solid #fff;-moz-border:2px solid #fff;-ms-border:2px solid #fff;-o-border:2px solid #fff;border:2px solid #fff;}
.user-int-mess a img{width:100%;height:100%;}
.user-int-mess .nickname{font-size:16px;color:#2a2a2a;max-width:90px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin:0 10px;}

.user-sex{width:23px;height:23px;overflow: hidden;background-repeat: no-repeat;margin-left:5px; display: inline-block;vertical-align: middle;}
.user-sex.female{background-image: url(../images/female.png);}
.user-sex.man{background-image: url(../images/man.png);} 
.user-messing{background: #fff;}
.user-messing a{display: block;border-bottom:1px solid #efefef;height:44px;line-height: 44px;color:#2a2a2a;font-size:14px;padding:0 40px;}
.user-messing a.on{background-color: #efefef;color:#2781ff;}
.user-messing a:nth-last-of-type(1){border-bottom:none;}
.user-messing a i{font-size:12px; color:#fff;padding:0 7px;background-color:#ff5050;-webkit-border-radius: 10px;-moz-border-radius: 10px; -o-border-radius: 10px;-ms-border-radius: 10px;border-radius: 10px;margin-left:5px;vertical-align: 1px;position: relative;display: inline-block;height:17px;line-height: 18px;}
.user-messing a i.on{padding-right:12px;}
.user-messing a i:after{display: none;}
.user-messing a i.on:after{content: "+";position: absolute;top:0;right:5px;display: block;}
.user-messing-situ{padding:0 20px;background-color: #fff;font-size:0;}
.user-messing-situ a{display: inline-block;vertical-align: middle;width:50%;height:72px;color:#777;text-align: center;font-size:12px;padding:18px 0;position: relative;border-bottom:1px solid #efefef;}
.user-messing-situ a:nth-of-type(odd):after{content: "";width:0;height:38px;border-right:1px solid #efefef;position: absolute;top:18px;right:0;}
.user-messing-situ a:nth-last-of-type(1),.user-messing-situ a:nth-last-of-type(2){border-bottom:none;}
.user-messing-situ a i{color:#2a2a2a;font-size:16px;line-height: 17px;}
.user-messing-situ a.on i,.user-messing-situ a:hover i{color:#2781ff;}
.user-messing-situ.wiki-count a:hover{cursor: default !important;}
.user-messing-situ.wiki-count a:hover i{color:#2a2a2a;}
.item-r-text a,.situatio-one a{color:#2781ff;font-size:14px;padding:0 3px;}
.item-r-other b{display: block;color:#838383;font-size:14px;line-height: 22px;}

/*广告位 开始*/
#sidebar>div.user-mess-box,#sidebar>div.ad-con{border:none;background: transparent;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;}
.ad-con cite{display: block;width:260px;max-height:475px;position: relative;overflow: hidden;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;}
.ad-con cite img{width:100%;}
.ad-con cite i{position: absolute;bottom:0;right:0;color:#fff;font-size:12px;background-color: #010607;padding:5px 4px 1px 6px;-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-ms-border-top-left-radius:5px;-o-border-top-left-radius:5px;border-top-left-radius:5px;}
/*广告位 结束*/
/*二级页右侧用户信息 结束*/

/*分页开始 */
.paging{text-align: center;font-size:0;}
.paging a{border:1px solid #d4d4d4;padding:5px 10px;margin-left:5px;font-size:14px;line-height: 14px;display: inline-block;vertical-align: middle;}
.paging a,.paging a.count-num:hover{border-color:#d4d4d4;background: #fff;color:#333;}
.paging a.on,.paging a:hover{background: #0099ff;border-color:#0099ff;color:#fff;}
.paging a.count-num:hover{cursor: default;}
.paging a.count-num b{font-weight: 600;padding:0 3px;}
.paging span.on a{background: #0099ff;border-color:#0099ff;color:#fff;}
/*分页 结束 */



@media(max-width:991px){
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding:0;}
	body{background-image: none;}
	#main{padding-bottom:0;border:none;margin:0;min-height:1px;}
	#main.pag-hor-20,.pag-hor-20{padding:0 10px !important;}
	.no-data-img{background-position: center;background-size: 70% auto;margin:50px auto 10px;}
	.no-data p{margin-top:-30px;}
	.no-date{height:40px;line-height: 40px;}
	/*.navbar-header{border-bottom:1px solid #efefef;}*/
	.navbar-header .fa{font-size:22px;}
	.web-hide{display: none;}
	.web-show{display: block;}
	.list-item{padding:0 10px;}
	.situatio-one .item-r-name{padding:0;}
	.situatio-one .time-stamp{position: static;}
	.item-r-name{margin:0;}
	.item-r-name>span{max-width:110px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.guzhu-r .item-r-name .fol-style{max-width:77px;white-space: normal;padding:0; height:26px;line-height: 26px;}
	.item-r-other b{display: block;float: none;}
	.guzhu-r .item-r-other b{padding:0 8px;}
	.list-item li{padding:10px 0;}
	.user-sex{background-size: 23px 23px;}
	.user-sex.female{background-image: url(../images/s-woman.png);}
	.user-sex.man{background-image: url(../images/s-man.png);}
	.int-tj h3 cite i{background: url(../images/yhy.png);background-size: 12px;}
	 /*关注、粉丝 开始*/
	.guzhu-r i{ vertical-align: 0;}
	.guzhu-r .dropdown .dropdown-menu li{padding:0;}
	.guzhu-l cite{width:60px;height:60px;}
 	/*关注、粉丝*/
	.page-h1{padding:0 10px;background-color: #fff;border-bottom:1px solid #efefef;}
	.web-page-h1 h1{padding:0 10px;color:#2a2a2a;font-size:14px;height:39px;line-height: 39px;border-bottom:1px solid #efefef;}
	.fa{font-size:12px;padding:0 5px 0 0 ;}
	.fa.fa-trash-o{padding:0;}
	/*大神推荐 */
	.int-tj h3{font-size:14px;height:30px;line-height: 30px;}
	.int-tj h3 cite{height:30px;}
	.int-tj h3 cite i{float: left;margin-right:5px;}
	/*公用的二级导航 开始*/
	.web-common-tit{border-bottom:1px solid #efefef;height:39px;display: -webkit-box;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-flex:1;}
	.web-common-tit a{color:#2a2a2a;font-size:14px;display: -webkit-box;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-flex:1;height:39px;border-bottom:1px solid transparent;width:0;}
	.web-common-tit a.on,.web-common-tit a:active{color:#2781ff;border-color:#2781ff;}
	/*公用的二级导航 结束*/
	.guzhu-r .item-r-name a.r-user-name{float: left;max-width:120px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
 	.no-follow .int-tj-list li{margin:0;padding:10px 0;border-bottom:1px solid #efefef;-webkit-border-bottom:1px solid #efefef;}
 	.no-follow .int-tj-list li:nth-last-of-type(1){border:none;}
 	/*未注册 开始*/
	.unreal-name{height:auto;font-size:14px;padding:0;}
	.unreal-name-img{margin:20px auto 10px;background-size: 80%;background-position: center;}
	.unreal-name-text{font-size:16px;}
  	/*未注册 结束*/
	@media (max-width: 414px){
	/*着迷声望*/

		.shengwang-box{
			margin-left: 10%;
		}
		.shengwang-top{
			width: 154px;
			height: auto;
			padding: 5px;
			margin: 0 auto;
			background: none;
		}
		.shengwang-middle{
			position: relative;
			width: 144px;
			height: 144px;
			padding: 10px;
			border-radius: 50%;
			background:-webkit-linear-gradient(top,#ff514b,#fea25c);
		}
		.shengwang-inner{
			width: 124px;
			height: 124px;
			border-radius: 50%;
			background-color:#fff; 

		}
		.sw-inner-num{
			font-size: 40px;
			line-height: 50px;
			text-align:center;
			color: #ff7001;
			padding-top: 20px;
		}
		.sw-inner-update{
			position: absolute;
			left: 0;
			bottom: -50px;
			font-size: 12px;
			color: #b1b1b1;
			line-height: 20px;
			height: 20px;
			width: 100%;
			display: inline-block;
			text-align: center;
		}
		.sw-liner{
			display: none;
		}
		.sw-title{
			text-align: center;
			font-size: 14px;
			color: #b1b1b1;
			margin-top: 10px;
		}
		.sw-tellothers{
			text-align: center;
			font-size: 14px;
			color: #626262;
			margin-top: 0;
			margin-bottom: 30px;
		}
		.sw-tellothers span{
			color: #ff7202;
			font-size: 20px;
			vertical-align: baseline;

		}
	/*着迷声望结束*/
	}
	@media (max-width: 375px){
	/*着迷声望*/
		.shengwang-box{
			margin-left: 6%;
		}
		
	/*着迷声望结束*/
	}
	@media (max-width: 320px){
	/*着迷声望*/

		.shengwang-box{
			margin-left: 0%;
		}
	/*着迷声望结束*/
	}
  	
}
