body,html{font-family: '微软雅黑';}
.info-edit-num{
    width: 187px; height: 189px; background: url("../new-img/images/grzx_num_bg.png") no-repeat;
}
.fl{ float: left;}
.info-edit-num cite.count-num i em{ font-size: 49px; font-style: normal;}
.info-edit-num cite.day-num i{ font-size: 16.77px;}
.info-edit-num cite.day-num i em{ font-size: 24px; font-style: normal;}
.info-edit-num{ margin-left: 50px; margin-top: 50px;}

.user-login{ width: 106px; height: 106px; margin-left: 42px; overflow: inherit; padding: 0; position: relative; background: url("../new-img/images/grzx_tx_bg.png") no-repeat;}
.user-login img{ width: 106px; height: 106px;}
.info-user{ margin: 25px 10px 0 0;}
.user-login cite,.link-set,.user-intro-con .user-sign{ background: url("../new-img/images/small-icon-together.png") no-repeat;}
.user-login cite{background-position: -116px -0px; width: 28px; height: 28px; display: block; position: absolute; bottom:4px; right:-5px;}
.nickname{ font-size: 16px; color: #2a2a2a; max-width: 180px;}
.link-set{background-position: -24px -0px; width: 17px; height: 17px;display: block;position: absolute; top: 4px; right: -20px;}
.user-des{ position: relative; overflow: inherit;}
.user-intr{ font-size: 14px; color: #575757; width: 180px;}
.manage-item li .create{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 12px;
    margin-bottom: 15px; position: relative;z-index: 999;
}
.curren_fen{ width: 100%;}
.curren_fen p{ font-size: 14px; color: #575757; text-align: center; padding-bottom: 15px;}
.curren_fen p i{ color: #3d94ff;}
.user-intro-con .user-sign{background-position: -43px -0px; width: 71px; height: 38px;line-height: 38px; text-align: center; font-size: 16px; color: #fff; display: block;margin: 0 auto; margin-top: 10px;}
/***************个人中心右侧sidebar***************/
#sidebar>div{ border: 0;}
#sidebar>div.famous_like{ width: 100%; padding-top: 0;}
.famous_like .sw_mb{ height: 59px; background-color: #e1e6ef;}
.famous_like .sw_mb span{width: 48%;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;}
.famous_like .sw_mb span em{ font-style: normal; color: #3d94ff;}
.famous_like .sw_mb cite{ width: 1px; height: 29px; background-color: #bac4d5; display: inline-block;}
.info0{ padding: 15px 10px;}
.info0 .prostrate-num{ color: #4c4c4c;}
.info0 .list-prostraters{ position: relative;}
.info0 .prostraters-direction{ width: 7px; height: 14px; position: absolute;}
.info0 .prostraters-left{ background: url("../new-img/images/grzx_left_btn.png") no-repeat; top: 0; left: 0;}
.info0 .prostraters-right{ background: url("../new-img/images/rgzx_right_btn.png") no-repeat; right: 0; top: 0;}

@media (max-width: 991px){
    .info-r{ padding: 0px 10px 0 !important;}
    .user-login{ margin-left: 0;}
    .nickname{ font-size: 16px; color: #fff; font-weight: bold;}
    .user-intr{ font-size: 12px; color: #fff; line-height: 24px;}
    .user-intro-con{ margin-left: 10px; position: relative;}
    .user-intro-con .user-sign{
        position: absolute;
        right: 14px;
        top: 0px;
        background-color: #ffa21a;
        border-radius: 3px;
        width: 44px;
        height: 21px;
        font-size: 14px;
        line-height: 21px;
    }
    .user-intro-con .web-jifen{ font-size: 12px; color: #fff; margin-top: 5px;}
    .user-intro-con .web-jifen i{ color: #ffc000; font-size: 14px;}
    .personal-info>div{ height: auto;}
    .active-num-wrap{ padding: 10px; width: 100%;}
    .active-num{border-bottom: 2px solid #f3f3f3; height: 50px;}
    .active-num span{ width: 23%; height: 100%; display: inline-block; text-align: center; vertical-align: middle;}
    .active-num cite{ width: 2px; height: 27px; display: inline-block; background-color: #f3f3f3; vertical-align: middle;}
    .nickname{ max-width: 100px;}
}
@media (max-width: 400px) and (min-width: 320px){
    .user-intro-con{ width: 164px;}
    .user-intro-con .user-sign{ right: -15px;}
}

