.sixin-list.list-item li{padding:20px 30px 14px 0;position: relative;}
.sixin-list.list-item a{display: block;position:relative;width:100%;}
.sixin-list .list-item-l{position: absolute;top:0;left:0;width:44px;display: block;}
.sixin-list .list-item-r{width:100%;padding-left:55px;position: relative;display: block;}
.sixin-list.list-item .del-icon{position: absolute;top:20px;right:0;}
.del-icon{padding:10px; position: absolute;top:0;right:-1px;width:9px;height:9px;background-image: url(../images/icon-sprit.png);background-repeat: no-repeat;background-position: -43px -48px;cursor: pointer;}
.sixin-list.list-item .news-count{ position: absolute;top:0;right:-8px; z-index: 1; padding: 0 7px; font-size: 12px; color: #fff; line-height: 18px; background: #ff5050; border-radius: 10px;  overflow: hidden; }
.sixin-list.list-item .news-count.on{padding-right:12px;}
.sixin-list.list-item .news-count:after{display: none;}
.sixin-list.list-item .news-count.on:after{content: "+";position: absolute;top:0;right:5px;display: block;}
.sixin-list .item-r-text{width:100%;line-height: 24px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
@media(max-width:991px){
	.sixin-list.list-item li{padding:10px 24px 7px 0;}
	.sixin-list.list-item .del-icon{top:10px;}
	.sixin-list-box  .item-r-name .time-stamp{width:100px;overflow: hidden;height:22px;}
}
