.user-info-box{
	width: 307px;

	
}
.ui-top{
	background: url(../images/ui-top-img.jpg) 0 no-repeat;
	padding-top:1px; 
	height: 162px;
}
.ui-top-img{
	width: 70px;
	height: 70px;
	margin: 23px auto 0;
	position: relative;
	
}
.ui-top-img-a{
	width: 58px;
	position: relative;
	left: 6px;
	top: 6px;
	display: inline-block;
	height: 58px;
	border-radius: 50%;
	background-color: #fff;

}
.ui-top-img-a img{
	position: relative;
	left: 2px;
	top: 2px;
	width: 54px;
	height: 54px;
	border: none;
	border-radius: 50%;
}
.ui-name{
	color: #2d64b3;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.ui-top-decorate{
	position: absolute;
	z-index: 1;
	
}
.ui-top-img .ui-vip{
	position: absolute;
	left: 8px;
	bottom: 4px;
	width: 23px;
	height: 23px;
	background: url(../images/ui-vip.png) 0 0 no-repeat;
	z-index: 2;
}
.ui-name-box{
	text-align: center;
	margin-top: 7px;
}
.user-sexes{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: 5px;
	background-image:url(../images/icon-mails.png); 
	background-repeat: no-repeat;
	vertical-align: middle;
}
.user-male{
	background-position: 0 0;
}
.user-female{
	background-position: 0 0;
}
.ui-top-title{
	margin-top: 12px;
	color: #000000;
	font-size: 12px;
	text-align: center;
}
.ui-bottom{
	position: relative;
	height: 162px;
	background-color: #fff;
}
.focus-funs-box{
	color:#e4e4e4;
	text-align: center;
	padding: 21px 0 14px;
}
.focus-funs-box .f-f-li{
	display: inline-block;
	padding:0 18px; 
	color: #888888;
	font-size: 12px;
}
.focus-funs-box .f-f-li .funs-value{
	color: #2d64b3;
	padding-left: 5px;
	vertical-align: middle;
}
.btn-focus-letter-box{
	text-align: center;
}
.focus-btn{
	display:inline-block;
	height: 24px;
	line-height: 24px;
	width: 70px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	position: relative;

}
.focus-btn.focus{

	background-color: #e64545;
}
.focus-btn.focused{
	background-color: #ccc;
}
.focus-btn.focused:hover:after{
	content: "取消关注";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;background-color: #ccc;
	left:0;
	top: 0;
	border-radius: 3px;
}
.focus-btn.nofocused{
	background-color: #ccc;
	
}
.focus-btn.letter-pre{
	background-color: #3e89fa;
	margin-left: 25px;
}
.shegwag-box{
	padding: 13px 21px 19px; 
	position: relative;
}
.shegwag-box .be-mobai,.shegwag-box .be-shegwag{
	display: inline-block;
	height: 18px;
}
.fot-colo{
	font-size: 12px;
	color: #888888;
}
.admin-box{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color:#e9e9e9;
	line-height: 45px;
	padding-left:20px;  
}
.admin-wiki{
	display: inline-block;
	height: 24px;
	vertical-align: middle;

}
.admin-wiki .wiki-li-box{
	height: 24px;
	
	margin:0 5px;
}
.admin-wiki .wiki-li-box .wiki-li-a{
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 5px;
}
.admin-wiki .wiki-li-box .wiki-li-a img{
	width: 100%;
	vertical-align: top;

}
.admin-sum-num{
	vertical-align: middle;
}